<?xml version="1.0" encoding="utf-8"?>
<!--
  Identity-only package for the stage-one baseline. The traditional installer
  owns the application files; this package only supplies the Windows identity
  required by WinUI 3 and the Files preview extension host.
-->
<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
    xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
    xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
    xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
    xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    IgnorableNamespaces="uap uap3 uap5 uap10 desktop4 rescap">

    <Identity
        Name="FilesDev"
        Publisher="CN=Files AV Manager"
        Version="0.0.0.0"
        ProcessorArchitecture="neutral" />

    <Properties>
        <DisplayName>Files</DisplayName>
        <PublisherDisplayName>YeSuper</PublisherDisplayName>
        <Logo>Assets\AppTiles\Dev\StoreLogo.scale-100.png</Logo>
        <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    </Dependencies>

    <Resources>
        <Resource Language="en-US" />
        <Resource Language="af" />
        <Resource Language="ar" />
        <Resource Language="be-BY" />
        <Resource Language="bg" />
        <Resource Language="ca" />
        <Resource Language="cs-CZ" />
        <Resource Language="da" />
        <Resource Language="de-DE" />
        <Resource Language="el" />
        <Resource Language="en-GB" />
        <Resource Language="es-ES" />
        <Resource Language="es-419" />
        <Resource Language="fa-IR" />
        <Resource Language="fi-FI" />
        <Resource Language="fil-PH" />
        <Resource Language="fr-FR" />
        <Resource Language="he-IL" />
        <Resource Language="hi-IN" />
        <Resource Language="hr-HR" />
        <Resource Language="hu-HU" />
        <Resource Language="hy-AM" />
        <Resource Language="id-ID" />
        <Resource Language="ja" />
        <Resource Language="ka" />
        <Resource Language="km-KH" />
        <Resource Language="ko-KR" />
        <Resource Language="lt-LT" />
        <Resource Language="lv-LV" />
        <Resource Language="ms-MY" />
        <Resource Language="nb-NO" />
        <Resource Language="nl-NL" />
        <Resource Language="pl-PL" />
        <Resource Language="pt-BR" />
        <Resource Language="pt-PT" />
        <Resource Language="ro-RO" />
        <Resource Language="ru-RU" />
        <Resource Language="sk-SK" />
        <Resource Language="sq-AL" />
        <Resource Language="sr-Cyrl" />
        <Resource Language="sv-SE" />
        <Resource Language="ta" />
        <Resource Language="th-TH" />
        <Resource Language="tr-TR" />
        <Resource Language="uk-UA" />
        <Resource Language="vi" />
        <Resource Language="zh-Hans" />
        <Resource Language="zh-Hant" />
    </Resources>

    <Applications>
        <Application
            Id="App"
            Executable="Files.exe"
            desktop4:SupportsMultipleInstances="true"
            uap10:TrustLevel="mediumIL"
            uap10:RuntimeBehavior="win32App">
            <uap:VisualElements
                AppListEntry="none"
                DisplayName="Files"
                Description="A fast, modern file manager for Windows."
                Square150x150Logo="Assets\AppTiles\Dev\Square150x150Logo.scale-100.png"
                Square44x44Logo="Assets\AppTiles\Dev\Square44x44Logo.scale-100.png"
                BackgroundColor="transparent" />

            <Extensions>
                <uap3:Extension Category="windows.appExtensionHost">
                    <uap3:AppExtensionHost>
                        <uap3:Name>com.files.filepreview</uap3:Name>
                    </uap3:AppExtensionHost>
                </uap3:Extension>

                <uap:Extension Category="windows.protocol">
                    <uap:Protocol ReturnResults="none" Name="files-dev" />
                </uap:Extension>

                <uap5:Extension Category="windows.startupTask">
                    <uap5:StartupTask
                        TaskId="3AA55462-A5FA-4933-88C4-712D0B6CDEBB"
                        Enabled="false"
                        DisplayName="Files" />
                </uap5:Extension>

                <Extension Category="windows.updateTask" EntryPoint="Files.App.BackgroundTasks.UpdateTask" />

                <uap:Extension Category="windows.fileTypeAssociation">
                    <uap:FileTypeAssociation Name="archives">
                        <uap:SupportedFileTypes>
                            <uap:FileType>.zip</uap:FileType>
                            <uap:FileType>.7z</uap:FileType>
                            <uap:FileType>.rar</uap:FileType>
                            <uap:FileType>.tar</uap:FileType>
                            <uap:FileType>.jar</uap:FileType>
                            <uap:FileType>.mrpack</uap:FileType>
                            <uap:FileType>.gz</uap:FileType>
                        </uap:SupportedFileTypes>
                        <uap:Logo>Assets\archives\ExtensionIcon.png</uap:Logo>
                    </uap:FileTypeAssociation>
                </uap:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Extensions>
        <Extension Category="windows.activatableClass.inProcessServer">
            <InProcessServer>
                <Path>WinRT.Host.dll</Path>
                <ActivatableClass ActivatableClassId="Files.App.BackgroundTasks.UpdateTask" ThreadingModel="both" />
            </InProcessServer>
        </Extension>
        <Extension Category="windows.activatableClass.outOfProcessServer">
            <OutOfProcessServer ServerName="Files.App.Server" uap5:IdentityType="activateAsPackage" uap5:RunFullTrust="true">
                <Path>Files.App.Server\Files.App.Server.exe</Path>
                <Instancing>singleInstance</Instancing>
                <ActivatableClass ActivatableClassId="Files.App.Server.AppInstanceMonitor" />
            </OutOfProcessServer>
        </Extension>
    </Extensions>

    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <rescap:Capability Name="unvirtualizedResources" />
        <rescap:Capability Name="broadFileSystemAccess" />
        <rescap:Capability Name="allowElevation" />
        <uap:Capability Name="removableStorage" />
        <Capability Name="internetClient" />
        <Capability Name="privateNetworkClientServer" />
    </Capabilities>
</Package>
